/File_Manager_javaFX/nbproject/private/
/File_Manager_javaFX/build/
/File_Manager_javaFX/dist/
/myfilemanger/nbproject/private/
/myfilemanger/build/
/myfilemanger/dist/
/File_Organizer/nbproject/private/
/File_Organizer/build/
/File_Organizer/dist/